name: ci

on:
  push:
    branches:
      - dev-diego

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        env:
          FLASK_ENV: testing
          FLASK_APP: app.app
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}

      - name: Run tests with Pytest
        run: pytest -vv --junit-xml=test-results.xml
      - name: Surface failing tests
        if: always()
        uses: pmeier/pytest-results-action@main
        with:
          path: ./test-results.xml
